body {
  margin: 0;
  font-family: 'Koulen', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-custom {
  font: 20px;
  background-color: rgb(116, 49, 179);
}

.navbar-brand {
  color: white;
  font-size: 28px;
}

.nav-link {
  color: white;
  font-size: 18px;
}
